In [ ]:
pip install nltk

In [1]:
import nltk

In [2]:
from nltk.corpus import stopwords

In [3]:
import pandas as pd

In [4]:
fake=pd.read_csv("fake.csv")

In [5]:
true=pd.read_csv("true.csv")

In [6]:
fake["target"]=0
true["target"]=1

In [7]:
fake

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [8]:
true

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [9]:
data=pd.concat([fake,true],axis=0)

In [10]:
data=data.reset_index(drop=True)

In [11]:
data

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [12]:
data=data.drop(["subject","title","date"],axis=1)

In [13]:
data

                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

In [14]:
from nltk.tokenize import word_tokenize

In [15]:
data["text"]=data["text"].apply(word_tokenize)

In [16]:
data

                                                    text  target
0      [Donald, Trump, just, couldn, t, wish, all, Am...       0
1      [House, Intelligence, Committee, Chairman, Dev...       0
2      [On, Friday, ,, it, was, revealed, that, forme...       0
3      [On, Christmas, day, ,, Donald, Trump, announc...       0
4      [Pope, Francis, used, his, annual, Christmas, ...       0
...                                                  ...     ...
44893  [BRUSSELS, (, Reuters, ), -, NATO, allies, on,...       1
44894  [LONDON, (, Reuters, ), -, LexisNexis, ,, a, p...       1
44895  [MINSK, (, Reuters, ), -, In, the, shadow, of,...       1
44896  [MOSCOW, (, Reuters, ), -, Vatican, Secretary,...       1
44897  [JAKARTA, (, Reuters, ), -, Indonesia, will, b...       1

[44898 rows x 2 columns]

In [17]:
from nltk.stem.snowball import SnowballStemmer
stem=SnowballStemmer("english")

In [18]:
def stem_it(text):
    return(stem.stem(word) for word in text)

In [19]:
data["text"]=data["text"].apply(stem_it)

In [20]:
print(data.head(10))

                                                text  target
0  <generator object stem_it.<locals>.<genexpr> a...       0
1  <generator object stem_it.<locals>.<genexpr> a...       0
2  <generator object stem_it.<locals>.<genexpr> a...       0
3  <generator object stem_it.<locals>.<genexpr> a...       0
4  <generator object stem_it.<locals>.<genexpr> a...       0
5  <generator object stem_it.<locals>.<genexpr> a...       0
6  <generator object stem_it.<locals>.<genexpr> a...       0
7  <generator object stem_it.<locals>.<genexpr> a...       0
8  <generator object stem_it.<locals>.<genexpr> a...       0
9  <generator object stem_it.<locals>.<genexpr> a...       0

In [21]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [22]:
data["text"]=data["text"].apply(stop_it)

In [23]:
data["text"]=data["text"].apply(" ".join)

In [24]:
data

                                                    text  target
0      donald trump just couldn wish all american hap...       0
1      hous intellig committe chairman devin nune hav...       0
2      friday was reveal that former milwauke sheriff...       0
3      christma day donald trump announc that would b...       0
4      pope franci use his annual christma day messag...       0
...                                                  ...     ...
44893  brussel reuter nato alli tuesday welcom presid...       1
44894  london reuter lexisnexi provid legal regulator...       1
44895  minsk reuter the shadow disus soviet-era facto...       1
44896  moscow reuter vatican secretari state cardin p...       1
44897  jakarta reuter indonesia will buy sukhoi fight...       1

[44898 rows x 2 columns]

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data["text"],data["target"],test_size=0.25)

In [26]:
display(x_train.head())
print("\n")
display(y_train.head())

19306    opera star andrea bocelli back out sing donald...
34918    istanbul reuter turkey prime minist binali yil...
8893     ben carson may the dumbest person ever perform...
40566    beirut reuter u.s.-back campaign against islam...
9307     while the subject lie the fbi when will hillar...
Name: text, dtype: object

19306    0
34918    1
8893     0
40566    1
9307     0
Name: target, dtype: int64

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.7)

tfidf_train=my_tfidf.fit_transform(x_train)
tfidf_test=my_tfidf.transform(x_test)

In [32]:
print(tfidf_train)

  (0, 23752)	0.0533212752694678
  (0, 55651)	0.02496527313613562
  (0, 68177)	0.04556750879482962
  (0, 76602)	0.08124179497866642
  (0, 49782)	0.05943915712141253
  (0, 74869)	0.03342988827906402
  (0, 48856)	0.041940727735737496
  (0, 63278)	0.060475136779400036
  (0, 70185)	0.05409051606948388
  (0, 89860)	0.06336722075489275
  (0, 75369)	0.05575990823504336
  (0, 7963)	0.05177606260160374
  (0, 30110)	0.04935133329278882
  (0, 35249)	0.05452853614602447
  (0, 40049)	0.059407652946576545
  (0, 78741)	0.03726800659767915
  (0, 19168)	0.056610667791845835
  (0, 54872)	0.06172895824176882
  (0, 71647)	0.06641258145533571
  (0, 86730)	0.036365060390603325
  (0, 33304)	0.04997568577353587
  (0, 20645)	0.04287080552674888
  (0, 49474)	0.04975214813569665
  (0, 80507)	0.05039496544080677
  (0, 73429)	0.036138566118847144
  :	:
  (33672, 89815)	0.04021183508919728
  (33672, 30104)	0.03348486388761504
  (33672, 81500)	0.03979193543864703
  (33672, 60720)	0.03285227163547383
  (33672, 49549)	0.029155906067088334
  (33672, 82640)	0.06539588044506238
  (33672, 81505)	0.0740469094443253
  (33672, 47937)	0.06005990381002493
  (33672, 8187)	0.04593712123021036
  (33672, 76948)	0.04558893869583092
  (33672, 66381)	0.03781603578505578
  (33672, 74869)	0.03469549980313011
  (33672, 49474)	0.0516356989122338
  (33672, 17228)	0.06634930147010258
  (33672, 39100)	0.06674944075211756
  (33672, 59230)	0.020220777121961592
  (33672, 9487)	0.11903383591799246
  (33672, 87955)	0.03361027464777291
  (33672, 57040)	0.04580419935808611
  (33672, 39823)	0.03246098617676831
  (33672, 81458)	0.04721874533576115
  (33672, 83402)	0.14951590132536033
  (33672, 26800)	0.027617144417097377
  (33672, 12245)	0.033324518413736424
  (33672, 77612)	0.06079026374095704

# Logistic Regression Model

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [34]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,y_train)
prediction_1=model_1.predict(tfidf_test)
pred_score=accuracy_score(y_test,prediction_1)
print(pred_score*100)

98.8240534521158

# Passive Agressive Classifier Model

In [36]:
from sklearn.linear_model import PassiveAggressiveClassifier
model_2=PassiveAggressiveClassifier(max_iter=60)
model_2.fit(tfidf_train,y_train)
prediction_2=model_2.predict(tfidf_test)
pred_score2=accuracy_score(y_test,prediction_2)
print(pred_score2*100)

99.52783964365256